/* LOGIN FORM CSS */

form {
    padding-top: 10px;
    text-align: center;
}



.login ,.signin,.note-contr {  
    width: 500px;  
    height:auto;
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #3bb59d;  
    border-radius: 15px ;  
      
} 
h1{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  

label {
    color:#23463f;
    font-size : 17px;
    
}
#name {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}
#email {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}
#pwd {
    width:300px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}
#submit {
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
}
.error-message {
    color: crimson;
    font-size: 17px;
}

/* Search box */
.search-frm {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.search-box {
    width: 500px;
    border: 2;
    position: relative;
    padding: 8px;
    border-radius: 21px;
    border: 19px;
    border: 1px solid grey;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    margin: 35px;
}
input.search-button,.add-btn {
    width: 150px;
    height: 29px;
    border: none;
    border-radius: 6px;
}
.search-frm .add-notes-btn {
    text-decoration: none;
    color: inherit;
}