/* LOGIN FORM CSS */

form {
    padding-top: 10px;
    text-align: center;
}


.login ,.signin {  
    width: 500px;  
    height:auto;
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #3bb59d;  
    border-radius: 15px ;  
      
} 
h1{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  

label {
    color:#23463f;
    font-size : 17px;
    
}
#name {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}
#email {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}
#pwd {
    width:300px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}
#submit {
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
}
.error-message {
    color: crimson;
    font-size: 17px;
}