/*  */  
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1000px;
    margin: auto;
}
.container-notes {
    padding-top: 10px;
    display: grid;
    flex-basis: 1;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}
.notes {
    /* border: 1px solid gray;  */
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: beige;
    display: inline-block;
    padding:10px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    height: 220px;
    width: 225px;
}

pre.notes-search {
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: left;
    padding: 10px;

}
.nt-lnk {
    text-align: left;
    /* code to display link to right bottom */
    /* position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; */
}

/* code for index page CSS */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid gray;
}
h1 {
    margin: 0;

}
.header>nav>a {

    text-decoration: none !important;
    
    padding : 0 10px 0 10px;
    line-height: 20px;
    font-weight: bold;
}
/* nav a:hover{ 
    background:grey;
    
    border:2px solid gainsboro
    
} */

header a {
    text-decoration:none !important;
    color: inherit;
    color:black;
    font-size: larger;
}
nav {
    padding-bottom: 5px;
}

.notes {
    position: relative;
}
a.nt-lnk {
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 
login form  */
div {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 150px;
  }

/* display notes page CSS */
pre {
    font-family: 'Open Sans', sans-serif;
}
.display-notes{
    background: rgb(35 89 143 / 10%);
    width: 500px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
}
.display-notes pre {
    padding: 10px;
    white-space: pre-wrap;
}
.display-notes h1,.h1{
    text-align: left;
    padding: 10px;
}

.show-my-notes {
    font-family: ui-rounded;
    font-size: smaller;
    display: flex; 
    justify-content: flex-end;
}
/* from :https://www.youtube.com/watch?v=BQSNBa3gZJU&ab_channel=OnlineTutorials */
 input[type="checkbox"]{
    position:relative;
    width: 25px;
    height: 14px;
    appearance: none;
    background:#c6c6c6; 
    outline : none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}
input:checked[type="checkbox"]{
    background :#03a9f4;
}
input:checked[type="checkbox"]{
    background :#03a9f4;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width:15px;
    height:15px;
    border-radius:20px;
    top:0;
    left:0;
    background: #fff;
    transform:scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition:.5s;
} 
input:checked[type="checkbox"]:before{
    left:10px;
}

h2 {
    text-align:left;
}
 .like-img, .dis-img {
    height: 21px;
    width: 21px;
 }
 .like-dislike {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding: 10px; */
    margin-right: 10px;
 }