/*  */  
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1000px;
    margin: auto;
}
.container-notes {
    padding-top: 10px;
    display: grid;
    flex-basis: 1;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}
.notes {
    /* border: 1px solid gray;  */
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: beige;
    display: inline-block;
    padding:10px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    height: 220px;
    width: 235px;
}

pre.notes-search {
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: left;
    padding: 10px;

}
.nt-lnk {
    text-align: left;
    /* code to display link to right bottom */
    /* position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; */
}

/* code for index page CSS */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid gray;
}
h1 {
    margin: 0;

}
.header>nav>a {

    text-decoration: none !important;
    
    padding : 0 10px 0 10px;
    line-height: 20px;
    font-weight: bold;
}
/* nav a:hover{ 
    background:grey;
    
    border:2px solid gainsboro
    
} */

header a {
    text-decoration:none !important;
    color: inherit;
    color:black;
    font-size: larger;
}
nav {
    padding-bottom: 5px;
}

.notes {
    position: relative;
}
a.nt-lnk {
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

