{% extends 'base.html' %}
{% block content %}
<h1>{{h1}}</h1> 
<h2>TITLE ----{{title}}</h2>
    <div class="note-contr">
        <form action="/edit_notes_action" method='POST'>
        <div>
            <label class='label-notes-title' for='note_id'>Title</label>
            <input type="hidden" type="text" name="note_id" value={{note_id}}>
        </div>
        <div class="edit-note">
            <input class="edit-note-t" type="text" name="title"  value ="{{title}}" size="30" maxLength="30">
        </div>
        <div class="edit-note-txta" >
            <!-- to auto populate data from database based on selected  note id  for edit-->
            <label class='label-desc-notes' for='note-content'>content</label>
            <textarea class="desc-notes" name="notes-content" style=" height: 240px; width:380px; " required>{{content}}</textarea>
        </div>   
        <div >
            <input class="edit-note-svBtn" type="submit" value="Save">
        </div>
        </form>
    </div>

    {% endblock %}