{% extends 'base.html' %}
{% block content %}
<article class="login-pg">
    <h1>Login Form</h1>
    
    <div class="login">
        <div class="error-message">
            {{message}}
        </div>
        <form id='login' action="/login_action" method="POST">
            <div>
            <input id='email' name="email" type="text" size="30" maxLength="30" required
                placeholder="Email:username@best.com">
            </div>
            <div>
            <input id="pwd" name="password" type="password" required="required" placeholder="Password"><br> <br>
            </div>
            <div>
            <input id='submit' type="Submit" value="LOG IN">
            </div>
        </form>
    </div>
</article>
{% endblock %}