{% extends 'base.html' %}
{% block content %}
<article class="login-pg">
    <h1>Login Form</h1>
    
    <div class="login">
        <div class="error-message">
            {{message}}
        </div>
        <form id='login' action="/login_action" method="POST">
            <label><b>Email:</b></label>
            <input id='email' name="email" type="text" size="30" maxLength="30" required
                placeholder="Email:username@best.com">

            <br>
            <br>
            <label><b>Password:</b></label>
            <input id="pwd" name="password" type="password" required="required" placeholder="Password:"><br> <br>
            <input id='submit' type="Submit" value="SIGN IN">
        </form>
    </div>
</article>
{% endblock %}