{% extends 'base.html' %}
{% block content %}

<div class="display-notes" id="{{notes['notes_id']}}">
    <h1>{{notes['title']}}</h1>
    <pre>{{notes['notes_description' ]}}</pre>

    <span class="like-dislike">
        
        <p><a class="like-dislike" href="/like-dislike?id={{notes['notes_id']}}&value=likes"><img class="like-img" src="static/images/like.png">{{notes['likes']}}</a></p>
        
            
        <p><a class="like-dislike" href="/like-dislike?id={{notes['notes_id']}}&value=dislikes"><img class="dis-img" src="static/images/dislike.png">{{notes['dislikes']}}</a></p>
       
    </span>
    
</div>

{%if user_id == notes_user_id  %}

<section class ="update-note">
    <div class="form-contr" id="edit">
        <form action="/editnote" method="POST">
            <input type="hidden" name="id" type="text" value = "{{notes['notes_id']}}">
            <input class="edit-btn" type="submit" value="Edit notes">
        </form>
    </div>
    <div class="form-contr" id="delete">
        <form action="/deletenote" method="POST">
            <input type="hidden" name="id" type="text" value = "{{notes['notes_id']}}">
            <input class="del-btn" type="submit" value="Delete notes">
        </form>
    </div>
</section>
{% endif %}


{% endblock %}