{% extends 'base.html' %}
{% block content %}

<div class="display-notes" id="{{notes['notes_id']}}">
    <h1>{{notes['title']}}</h1>
    <pre>{{notes['notes_description' ]}}</pre>
</div>

{%if user_id == notes_user_id  %}

<section class ="update-note">
    <div class="form-contr" id="edit">
        <form action="/editnote" method="POST">
            <input type="hidden" name="id" type="text" value = "{{notes['notes_id']}}">
            <input class="edit-btn" type="submit" value="Edit notes">
        </form>
    </div>
    <div class="form-contr" id="delete">
        <form action="/deletenote" method="POST">
            <input type="hidden" name="id" type="text" value = "{{notes['notes_id']}}">
            <input class="del-btn" type="submit" value="Delete notes">
        </form>
    </div>
</section>
{% endif %}


{% endblock %}