{% extends 'base.html' %}
{% block content %}

<article class="Signin-pg">
    <h1>Sign Up Form</h1>

    <div class="signup">
        <div class="signup-error">
            {{result}}
        </div>
        <form id='Signup' action="/signup_action" method="POST">
            <input id ='name' name="name" type="text" required="required" placeholder="Name">
            <br><br>

            <input id='email' name="email" type="text" size="30" maxLength="30" required
                placeholder="Email: username@best.com">
            <br><br>

            <input name="password" id="pwd" type="password" required="required" placeholder="Password"><br> <br>
            <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" -->
            <input id='submit' type="Submit" value="SIGN UP">
        </form>
    </div>
</article>
{{results}}
{% endblock %}